{% extends 'base.html' %}

{% block title %}
  Home Page
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/home.css">
{% endblock %}

{% block content %}
<div class="text-center">
  <div class="cover-container mt-5 h-100 px-3 py-5 mx-auto">
    <main role="main" class="inner cover">
      <h1 class="cover-heading">Guacatea Market</h1>
      <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
      <p class="lead">
        <a href="{{ url_for('market_page') }}" class="btn btn-lg btn-secondary">Let's Go</a>
      </p>
    </main>
  </div>
</div>
{% endblock %}