{% extends 'base.html' %}

{% block title %}
Profile Page
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/mycart.css">
{% endblock %}

{% block content %}

{% if cart_items|length > 0 %}
  <!-- Carrito con cosas -->
  <div class="container pb-5">
    <div class="row">
        <div class="col-xl-9 col-md-8">
            <h2 class="h6 d-flex flex-wrap justify-content-between align-items-center px-4 py-3 bg-secondary">
              <span class="pb-2">Products</span>
              <a class="font-size-sm" href="{{url_for('market_page')}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left" style="width: 1rem; height: 1rem;"><polyline points="15 18 9 12 15 6"></polyline>
                </svg>
                Continue shopping
              </a>
            </h2>

            <!-- Item-->
            {% for item in cart_items %}
              <div class="d-sm-flex justify-content-between my-4 pb-4 border-bottom">
                  <div class="media d-block d-sm-flex text-center text-sm-left">
                      <a class="cart-item-thumb mx-auto mr-sm-4" href="{{item.image}}" target="_blank"><img src="{{item.image}}" alt="Product"></a>
                      <div class="media-body pt-3">
                          <h3 class="product-card-title font-weight-semibold border-0 pb-0"><a href="#1" class="disabled" aria-disabled="true">{{item.name}}</a></h3>
                          <div class="font-size-sm">
                            <span class="text-muted mr-2">Author:</span>
                            <span>{{item.author_user.username}}</span>
                          </div>
                          <div class="font-size-sm"><span class="text-muted mr-2">Quantity:</span>1</div>
                          <div class="font-size-lg text-primary pt-2">${{item.price}}</div>
                      </div>
                  </div>
                  <div class="pt-2 pt-sm-0 pl-sm-3 mx-auto mx-sm-0 text-center text-sm-left" style="max-width: 10rem;">
                      <div class="form-group mb-2">
                          <label for="available">Available</label>
                          <input class="form-control form-control-sm text-center" id="available" value="In Stock" disabled="True">
                      </div>
                      <form method="POST">
                        {{purchase_form.hidden_tag()}}
                        <input id="purchased_item" name="purchased_item" type="hidden" value="{{item.id}}">
                        {{purchase_form.submit(class="btn btn-outline-secondary btn-sm btn-block mb-2", value="✔️ Just buy this")}}
                      </form>
                      <form method="POST">
                        {{remove_form.hidden_tag()}}
                        <input id="removed_item" name="removed_item" type="hidden" value="{{item.id}}">
                        {{remove_form.submit(class="btn btn-outline-danger btn-sm btn-block mb-2")}}
                      </form>
                  </div>
              </div>
            {% endfor %}
        </div>
        <!-- Sidebar-->
        <div class="col-xl-3 col-md-4 pt-3 pt-md-0">
            <h2 class="h6 px-4 py-3 bg-secondary text-center">Subtotal</h2>
            <div class="h3 font-weight-semibold text-center py-3">${{get_total_price}}</div>
            <hr>
            <h3 class="h6 pt-4 font-weight-semibold"><span class="badge badge-success mr-2">Note</span>Additional comments</h3>
            <textarea class="form-control mb-3" id="order-comments" rows="5"></textarea>
            <form method="POST">
              {{buy_items_form.hidden_tag()}}
              <input id="buy_confirmation" name="buy_confirmation" type="hidden" value="True">
              {{buy_items_form.submit(class="btn btn-primary btn-block")}}

            </form>
            <div class="pt-4">
                <div class="accordion" id="cart-accordion">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="accordion-heading font-weight-semibold"><a href="#promocode" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="promocode">Apply promo code<span class="accordion-indicator"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg></span></a></h3>
                        </div>
                        <div class="collapse show" id="promocode" data-parent="#cart-accordion">
                            <div class="card-body">
                                <form class="needs-validation" novalidate="">
                                    <div class="form-group">
                                        <input class="form-control" type="text" id="cart-promocode" placeholder="Promo code" required="">
                                        <div class="invalid-feedback">Please provide a valid promo code!</div>
                                    </div>
                                    <button class="btn btn-outline-primary btn-block" type="submit">Apply promo code</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h3 class="accordion-heading font-weight-semibold"><a class="collapsed" href="#shipping" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="shipping">Shipping estimates<span class="accordion-indicator"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg></span></a></h3>
                        </div>
                        <div class="collapse" id="shipping" data-parent="#cart-accordion">
                            <div class="card-body">
                                <form class="needs-validation" novalidate="">
                                    <div class="form-group">
                                        <select class="form-control custom-select" required="">
                                            <option value="">Choose your country</option>
                                            <option value="Australia">Australia</option>
                                            <option value="Belgium">Belgium</option>
                                            <option value="Canada">Canada</option>
                                            <option value="Finland">Finland</option>
                                            <option value="Mexico">Mexico</option>
                                            <option value="New Zealand">New Zealand</option>
                                            <option value="Switzerland">Switzerland</option>
                                            <option value="United States">United States</option>
                                        </select>
                                        <div class="invalid-feedback">Please choose your country!</div>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control custom-select" required="">
                                            <option value="">Choose your city</option>
                                            <option value="Bern">Bern</option>
                                            <option value="Brussels">Brussels</option>
                                            <option value="Canberra">Canberra</option>
                                            <option value="Helsinki">Helsinki</option>
                                            <option value="Mexico City">Mexico City</option>
                                            <option value="Ottawa">Ottawa</option>
                                            <option value="Washington D.C.">Washington D.C.</option>
                                            <option value="Wellington">Wellington</option>
                                        </select>
                                        <div class="invalid-feedback">Please choose your city!</div>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="ZIP / Postal code" required="">
                                        <div class="invalid-feedback">Please provide a valid zip!</div>
                                    </div>
                                    <button class="btn btn-outline-primary btn-block" type="submit">Calculate shipping</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- Fin de carrito con cosas -->
{% else %}
  <!-- Carrito Vacio -->
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body cart">
                    <div class="col-sm-12 empty-cart-cls text-center"> <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
                        <h3><strong>Your Cart is Empty</strong></h3>
                        <h4>Add something to make me happy :)</h4> <a href="{{ url_for('market_page') }}" class="btn btn-primary cart-btn-transform m-3" data-abc="true">Continue Shopping</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- Fin de carrito vacío -->
{% endif %}

{% endblock %}
