:root {
  --jumbotron-padding-y: 3rem;
}


body {
  color: #fff;
}

.bg.dark {
  background-color: #343a40eb !important;
}

.album {
  box-shadow: -1px 0px 57px 0px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: -1px 0px 57px 0px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: -1px 0px 57px 0px rgba(0,0,0,0.75) inset;
}
.page-footer {
  background-color: #1d2124;
  box-shadow: inset 0 0 5rem rgb(0 0 0 / 50%);
}

a:hover {
  text-decoration: none;
}

.rgba-white-light {
  background-color: rgba(255, 255, 255, 0.479);
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #333;
  border-radius: 0;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 500;
  font-size: 2.5rem;
}

.jumbotron .container {
  max-width: 40rem;
  color: #fff;
}

.box-shadow {
  box-shadow: 0.25rem .75rem rgba(0, 0, 0, .05);
}

.card {
  border: none;
}

.card-body, .card-header {
  background: #343a40f5;
}

img.card-img-top {
  height: 225px;
  width: 100%;
  display: block;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #bbb4b4;
  text-shadow: 3px 0px 0 #141111;
  opacity: .5;
}

.close:hover {
  color: #fff;
  text-decoration: none;
}

a {
  color: #fff;
}

.text-subtitle-light {
  color: #90c3f7!important;
}

.colored-link-card {
  color: #28a745!important;
}

.colored-link-card:hover {
  color: #61ee1f!important;
}

.navbar-deg {
  background: #343a40 !important;
  background: linear-gradient(63deg,#343a40 10%, #1d2124 100%)!important;
  background: -webkit-linear-gradient(63deg,#343a40 10%, #1d2124 100%)!important;
  background: -moz-linear-gradient(63deg,#343a40 10%, #1d2124 100%)!important;
}
