{% extends 'base.html' %}

{% block title %}
  Contact Us
{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}
<style>
  .card {
    background-color: #9cafc2 !important;
  }
  body {
    background-color: #495057;
  }
  .bg-image {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/g-market-5f76f.appspot.com/o/9481f711f66f9124374f42d8.png?alt=media&token=a8d5415b-a9d6-4426-a08f-60fbc2fb7d19');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  };
</style>
<div class="container-fluid px-5 my-5">
  <div class="row justify-content-center">
    <div class="col-xl-10">
      <div class="card border-0 rounded-3 shadow-lg overflow-hidden">
        <div class="card-body p-0">
          <div class="row g-0">
            <div class="col-sm-6 d-none d-sm-block bg-image"></div>
            <div class="col-sm-6 p-4">
              <div class="text-center">
                <div class="h3 fw-light">Contact Form</div>
                <p class="mb-4 text-muted">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within a matter of hours to help you.</p>
              </div>

              <form id="contactForm">

                <!-- Name Input -->
                <div class="form-floating mb-3">
                  <label for="name">Name</label>
                  <input class="form-control" id="name" type="text" placeholder="Name" data-sb-validations="required" required/>
                  <div class="invalid-feedback" data-sb-feedback="name:required">Name is required.</div>
                </div>

                <!-- Email Input -->
                <div class="form-floating mb-3">
                  <label for="emailAddress">Email Address</label>
                  <input class="form-control" id="emailAddress" type="email" placeholder="Email Address" data-sb-validations="required,email" required/>
                  <div class="invalid-feedback" data-sb-feedback="emailAddress:required">Email Address is required.</div>
                  <div class="invalid-feedback" data-sb-feedback="emailAddress:email">Email Address Email is not valid.</div>
                </div>

                <!-- Message Input -->
                <div class="form-floating mb-3">
                  <label for="message">Message</label>
                  <textarea class="form-control" id="message" type="text" placeholder="Message" style="height: 10rem;" data-sb-validations="required" required></textarea>
                  <div class="invalid-feedback" data-sb-feedback="message:required">Message is required.</div>
                </div>

                <!-- Submit button -->
                <div class="d-grid">
                  <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button>
                </div>
              </form>
              <!-- End of contact form -->

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
