{% extends "base.html" %}

{% block title %}
Terms and Conditions
{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}
<div id="__enzuzo-root"></div> <script src="https://app.enzuzo.com/__enzuzo-privacy-app.js?mode=privacy&apiHost=https://app.enzuzo.com&buttonStyle=%0A%7B%0A%20%20%22buttonWidget%22%3A%20%7B%0A%20%20%20%20%22backgroundColor%22%3A%20%22%23ffffff%22%2C%0A%20%20%20%20%22color%22%3A%20%22%23000000%22%2C%0A%20%20%20%20%22%26%3Ahover%22%3A%20%7B%0A%20%20%20%20%20%20%22backgroundColor%22%3A%20%22%23a4a4a4%22%2C%0A%20%20%20%20%20%20%22color%22%3A%20%22%23000000%22%0A%20%20%20%20%7D%0A%20%20%7D%0A%7D%0A&qt=1648354409111&referral=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJDdXN0b21lcklEIjo0MjkwLCJDdXN0b21lck5hbWUiOiJjdXN0LUZqTXFjRE1IIiwiQ3VzdG9tZXJMb2dvVVJMIjoiIiwiUm9sZXMiOlsicmVmZXJyYWwiXSwiUHJvZHVjdCI6ImVudGVycHJpc2UiLCJpc3MiOiJFbnp1em8gSW5jLiIsIm5iZiI6MTY0ODM1NDQxMH0.tOdWCCHppfHtmvRNF2wZ0I8uCh9655tzSms2Ropclsw"></script>
{% endblock %}
