{% extends 'base.html' %}

{% block title %}
  Market Page
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/market.css">
{% endblock %}

{% block content %}
<body>

  <main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Guacatea Market</h1>
        <p class="lead">
          Welcome to our market, here you can offer and buy the best independent digital art that exists on the internet.
          To be able to access a better user experience, log in or create an account. This way you will unlock new features.
        </p>
        <p>
          <a href="{{ url_for('login_page') }}" class="btn btn-primary my-2">Login</a>
          <a href="{{ url_for('register_page') }}" class="btn btn-secondary my-2">Sign up</a>
        </p>
      </div>
    </section>
    <div class="album py-5 bg-dark">
      <div class="container">
        <div class="row">
          {% for i in range(1,10) %}
          {% include "includes/m_info.html" %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <a href="https://placeholder.com">
                  <img class="card-img-top" src="https://via.placeholder.com/288x225?text=ThumbnailImage" alt="Placeholder">
                </a>
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-light" data-toggle="modal" data-target="#Modal-MoreInfo">View</button>
                      <button type="button" class="btn btn-sm btn-outline-light" data-toggle="modal" data-target="#Modal-BuyConfirmation">Buy</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div> 
          {% endfor %}

        </div>
      </div>
    </div>
  </main>
</body>
{% endblock %}

