{% extends "base.html" %}

{% block title %}
Register Page
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/login_page.css">
{% endblock %}

{% block content %}
<body class="text-center" >
    <div class="container">

        <div class="card bg-light">
          <article class="card-body mx-auto py-0">
            <h4 class="card-title mt-3 text-center font-weight-bold">Create Account</h4>
            <p class="text-center mb-0 font-weight-bold">Get started with your free account. Right now</p>
            <img class="rounded mx-auto d-block" src="/static/img/avocado_mini.png" alt="Animated Avocado">
            
            <form class="mt-2" method="post">
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                {{ form.username(class="form-control", placeholder="Username") }}
              </div> <!-- form-group// -->
    
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                </div>
                {{ form.email(class="form-control", placeholder="Email Address") }}
              </div> <!-- form-group// -->
    
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                {{ form.password_1(class="form-control", placeholder="Create password") }}
              </div> <!-- form-group// -->
    
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                {{ form.password_2(class="form-control", placeholder="Repeat password") }}
              </div> <!-- form-group// -->
    
              <div class="form-group">
                {{ form.submit(class="btn btn-primary btn-block") }}
              </div> <!-- form-group// -->
              
              <p class="text-center">Have an account? <a href="">Log In</a> </p>
            </form>
          </article>
        </div> <!-- card.// -->
    
    </div>
    <!--container end.//-->
</body>
{% endblock %}