<!-- Modal de informacion extra(descripcion) -->
<div class="modal fade" id="Modal-MoreInfo-{{item.id}}" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title">{{item.name}} - {{item.price}}$</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-3 text-center">
            <i class="fas fa-shopping-cart fa-4x text-info"></i>
          </div>
          <div class="col-9">
            <p>Do you need more time to make a purchase decision?</p>
            <p>No pressure, your product will be waiting for you in the cart.</p>
          </div>
        </div>
      </div>
      <form method="POST">
        {{cart_form.hidden_tag()}}
        <div class="modal-footer">
          <input id="added_item" name="added_item" type="hidden" value="{{item.name}}">
          {{cart_form.submit(class="btn btn-primary")}}
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Modal de venta de articulos -->
<div class="modal fade" id="Modal-BuyConfirmation-{{item.id}}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title">{{item.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 mb-4">
            <div class="bg-image hover-overlay ripple shadow-2-strong" data-mdb-ripple-color="light">
              <img src="/static/img/items/img_1.jpg" class="img-fluid" alt="Arte Digital">
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
          </div>

          <div class="col-md-6 mb-4">
            <p class= "font-weight-bold">
              Are you wanna sure to buy this '{{item.name}}' for {{item.price}}$ ?
            </p>
            <p class="font-weight-light">
              <!-- TODO: Hacer una pregunta de confirmacion de compra -->
              {{item.description}}
            </p>
            <br>
            <p class="font-weight-bold">
              Click down here if you wanna but it 👇
            </p>
          </div>
        </div>
      </div>
      <form method="POST">
        {{purchase_form.hidden_tag()}}
        <div class="modal-footer">
          <input id="purchased_item" name="purchased_item" type="hidden" value="{{item.name}}">
          {{purchase_form.submit(class="btn btn-primary")}}
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
